.header__logo {
    margin: 45px 0 41px;
    padding: 0;
    width: 142px;
    height: 33px;
    object-fit: cover;
}

@media (max-width: 880px) {
    .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px 0 31.6px 27px;
    }
}