.popup__close-button {
    background-image: url('../../../images/close-icon.svg');
    width: 32px;
    height: 32px;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 880px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}