.header__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    margin: 51px 0 46px;
    padding: 0;
}

@media (max-width: 880px) {
    .header__box {
        
        /* flex-direction: column; */
        /* min-width: 320px; */
        margin: 40px 0 27px;
        /* border-bottom: 1px solid rgba(84,84,84,0.7); */
    }
  }