.popup__submit-button {
    width: 358px;
    height: 50px;
    border: none;
    background-color: #000;
    border-radius: 2px;
    margin: 13px auto 37px;
    padding: 0;
    color: #FFFFFF;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 880px) {
    .popup__submit-button {
        width: 100%;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px auto 25px;
    }
}