.profile__edit-button {
    background-image: url('../../../images/pencil.svg');
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    outline: 0;
    margin: 15px 0 0 0;
    padding: 0;
    object-fit: contain;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 880px) {
    .profile__edit-button {
    margin: 0;
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 19px;
    top: 9px;
    }
}